* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'open_sanslight', 'sans-serif';
}

img {
  height: auto;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.inner {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5em;
}

h2 {
  font-family: 'AlternateGotNo1D', 'Impact', 'sans-serif';
  font-size: 3em;
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'open_sanslight', 'sans-serif';
  margin: 0;
}

p {
  font-family: 'open_sanslight', 'sans-serif';
  color: #000;
  margin: 1em 0;
  font-size: 0.9em;
}

ul li {
  font-family: 'open_sanslight', 'sans-serif';
  margin: 0.2em 2em;
  font-size: 0.9em;
}

.infoButton {
  text-decoration: none;
  background-color: #999;
  padding: 0.5em 2em;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  border-radius: 0.3em;
  cursor: pointer;

  &:hover {
    background-color: #333;
  }
}

.logo {
  font-weight: normal;

  display: block;
  height: 7em;
  width: 13em;

  font-family: 'open_sansregular', 'sans-serif';
  line-height: 1.5em;
  background-image: url("/images/jitsu-square-red.png");
  background-position: 0.8em 1.6em;
  background-repeat: no-repeat;
  background-size: 2.7em;
  color: #fff;
  margin: 0;

  span {
    position: absolute;
  }

  span#southampton {
    font-size: 1em;
    top: 0;
    left: 5.2em;
  }

  span#jitsu {
    font-family: 'AlternateGotNo1D', 'open_sansregular', 'sans-serif';
    font-size: 4em;
    top: 0.59em;
    left: 1em;
  }

  span#club {
    font-size: 1.5em;
    top: 3em;
    right: 1em;
  }
}

#topBar {
  position: absolute;
  height: 3em;
  width: 100%;
  z-index: 10;
  margin: 1em 0;
  color: white;

  .logo {
    position: absolute;
    font-size: 11.3px;
    background-image: url("/images/jitsu-square-white.png");
  }
}

#banner {
  background-image:url('/images/home/hero.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;

  #topvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;;
    opacity: 0.6;
  }

  #scrollIndicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    opacity: 0.6;

    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
  }
}

header {
  position: relative;
  z-index: 10;
  color: white;
  overflow: hidden;

  &.home {
    height: 100vh;
  }

  #bannerLogo {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    z-index: 10;

    .logo {
      font-size: 2em;
    }
  }

  #welcomeText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    border-left: 2px solid white;
    padding-left: 1em;
    margin-right: 10%;
    z-index: 10;

    .blurb {
      font-family: 'AlternateGotNo1D', 'Impact', 'sans-serif';
      text-transform: uppercase;
      margin-bottom: 0.2em;
      font-size: 7em;
      line-height: 1em;
    }

    p {
      font-family: 'open_sansregular', 'sans-serif';
      font-size: 1em;
      margin: 1em 0;
      color: #fff;
    }
  }
}

section {
  &.grey {
    background-color: #ccc;
  }

  > .inner, &.inner {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

#home_news {
  .newsItemWrap {
    float: left;
    width: 49%;
    margin: 0.5em 1% 0.5em 0;
  }

  .newsItemWrap:last-of-type {
    margin-left: 1%;
    margin-right: 0;
  }

  .infoButton {
    float: right;
  }

  &:after {
    content: '';
    clear:both;
    display: block;
  }
}

#home_news .newsItem {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-image: url('/images/home/01.default.jpg');
  background-size: cover;
  background-position: top;
  cursor: pointer;
  position: relative;
}

#home_news .newsItem:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
  z-index: 99;
  opacity: 0;
  width: 100%;
  height: 100%;

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#home_news .newsItem:hover:before {
  opacity: 0.5;
}

.newsItem h3 {
  height: 50%;
  padding: 1em;
  background-image: linear-gradient(180deg, #222, transparent);
  color: #fff;
  z-index: 100;
  position: relative;
}

.newsItem .date {
  position: relative;
  top: -1.3em;
  font-size: 0.9em;
  color: #444;
}

#findUs {
  .map {
    width: 70%;
    height: 400px;
    float: left;
  }

  .schedule {
    width: 28%;
    margin-left: 2%;
    float: left;
  }

  &:after {
    content: '';
    clear:both;
    display: block;
  }
}

#homeClubinfo {
  position: relative;
  background-image: linear-gradient(90deg, #eee 40%, transparent);

  .inner .copy {
    margin-right: 45%;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/images/home/11864864_1686734318227435_7395144794963996504_o.jpg');
    background-position: right 40%;
    background-repeat: no-repeat;
    z-index: -10;
    transform: scaleX(-1);
  }
}

#homeSplash {
  .splashbox {
    float:left;
    display: table;
    height: 400px;
    width: 32%;
    margin-right: 2%;
    background-position: center;
    position: relative;
    color: #fff;
    text-align: center;

    .text {
      display: table-cell;
      z-index: 10;
      position: relative;
      padding: 2em;
      vertical-align: middle;

      .title {
        @extend h2;
        display: block;
      }
    }

    &.strength {
      background-image: url('/images/home/strength.png');
    }

    &.skill {
      background-image: url('/images/home/skill.png');
    }

    &.spirit {
      background-image: url('/images/home/spirit.png');
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #000000;;
      opacity: 0.6;
    }
  }

  .splashbox:last-of-type
  {
    margin-right: 0;
  }

  &:after {
    content: '';
    clear:both;
    display: block;
  }
}
