@mixin for-phone-portrait-down {
  @media (max-width: 499px) { @content; }
}
@mixin for-phone-landscape {
  @media (min-width: 500px) and (max-width: 900px) { @content; }
}
@mixin for-tablet-portrait-down {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 899px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@import './fonts';

@import './header';

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'open_sanslight', 'sans-serif';
}

img {
  height: auto;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

h2 {
  font-family: 'AlternateGotNo1D', 'Impact', 'sans-serif';
  font-size: 3em;
  font-weight: normal;
  color: #000;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'open_sanslight', 'sans-serif';
  margin: 1em 0;
}

p {
  font-family: 'open_sanslight', 'sans-serif';
  color: #000;
  margin: 1em 0;
  font-size: 0.9em;
}

ul li {
  font-family: 'open_sanslight', 'sans-serif';
  margin: 0.2em 2em;
  font-size: 0.9em;
}

a {
  color: inherit;
  text-decoration: none;
}

span.bold {
  font-weight: bold;
}

section.copy {
  padding-top: 110px;
}

article {
  max-width: 800px;
  margin: 0 auto 100px auto;

  img {
    display: block;
    margin: auto;
  }
}

.floatRight {
  float: right;
}

.infoButton {
  text-decoration: none;
  background-color: #999;
  padding: 0.5em 2em;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  border-radius: 0.3em;
  cursor: pointer;

  &:hover {
    background-color: #333;
  }
}

.logo {
  font-weight: normal;

  display: block;
  height: 7em;
  width: 13em;

  font-family: 'open_sansregular', 'sans-serif';
  line-height: 1.5em;
  background-image: url("/images/jitsu-square-red.png");
  background-position: 0.8em 1.6em;
  background-repeat: no-repeat;
  background-size: 2.7em;
  color: #fff;
  margin: 0;

  span {
    position: absolute;
  }

  span#southampton {
    font-size: 1em;
    top: 0;
    left: 5.2em;
  }

  span#jitsu {
    font-family: 'AlternateGotNo1D', 'open_sansregular', 'sans-serif';
    font-size: 4em;
    top: 0.59em;
    left: 1em;
  }

  span#club {
    font-size: 1.5em;
    top: 3em;
    right: 1em;
  }
}

#topBar {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: #222;
  z-index: 20;
  color: white;
  overflow: hidden;
  transition: opacity 0.3s ease-out;

  .inner {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5em;
  }

  #mainNavContainer {
    height: 100%;
    position: relative;
  }

  .logo {
    position: absolute;
    top: 0;
    height: 75%;
    bottom: 0;
    margin: auto;

    font-size: 8px;
    background-image: url("/images/jitsu-square-white.png");
    cursor: pointer;
  }

  &.hidden:not(:hover) {
    overflow: hidden;
    opacity: 0.4;
  }

  .mainNavigation {
    height: 100%;
    margin: auto 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 0;

    ul {
      height: 100%;
      margin: 0 auto;

      li {
        position: relative;
        display: inline-block;
        height: 100%;
        font-size: 18px;
        margin: 0;

        a {
          display: block;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          margin: 0 30px;

          @include for-tablet-landscape-down {
            & {
              margin: 0 10px;
            }
          }
        }
      }
    }
  }
}

#banner {
  background-image:url('/images/home/hero.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;

  #topvideo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;;
    opacity: 0.6;
  }

  #scrollIndicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    opacity: 0.6;

    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
  }
}


section {
  &.grey {
    background-color: #ccc;
  }

  > .inner, &.inner {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 0.5em;
  }
}

#findUs {
  .map {
    width: 70%;
    height: 400px;
    float: left;
  }

  .schedule {
    width: 28%;
    margin-left: 2%;
    float: left;
  }

  &:after {
    content: '';
    clear:both;
    display: block;
  }
}

#homeClubinfo {
  position: relative;
  background-image: linear-gradient(90deg, #eee 40%, transparent);

  .inner .copy {
    margin-right: 45%;

    @include for-tablet-landscape-down {
      margin-right: 30%;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/images/home/11864864_1686734318227435_7395144794963996504_o.jpg');
    background-position: right 40%;
    background-repeat: no-repeat;
    z-index: -10;
    transform: scaleX(-1);
  }

  @include for-tablet-portrait-down {
    &:before {
      background-image: none;
    }

    .inner .copy {
      margin-right: 0;
    }
  }
}

.theArt {
  .copy {
    float: left;
    width: 58%;
    margin-right: 2%;
  }

  .images {
    float: right;
    width: 40%;

    img {
      display: block;
      max-width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;

      &.stretch {
        min-width: 100%;
      }
    }
  }

  &:after {
    content: '';
    clear:both;
    display: block;
  }

  @include for-tablet-landscape-down {
    .copy, .images {
      float: none;
      width: 100%;
    }
  }
}

.staffProfiles {
  text-align: center;

  > .profile {
    display: inline-block;
    padding: 10px 3%;
    max-width: 25%;

    img {
      width: 100%;
    }
  }
}

.clubLineup {
  height: 500px;
  background: transparent url('../assets/img/club-lineup.jpg') no-repeat center;
  position: relative;
  top: -50px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.5;
  }
}

@import './news';
@import './splash';

@import './footer';
@import './standard';
